@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

header {
  color: black;
  padding: 15px 20px;
  text-align: center;
  flex-direction: column;
  height: 150px;
  font-size: 20pt;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 5px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

main {
  padding: 20px;
  margin: 25px;
}

.resume {
  width: 50%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 3px 0;
  width: 100%;
  bottom: 0;
}

/* Smart Phone */
@media (max-width: 600px) {
  header {
    font-size: 16pt;
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  main {
    padding: 10px;
    margin: 10px;
  }

  .resume {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    border: none;
  }

  footer {
    padding: 5px 0;
  }
}
